<table id="comments_form">
  <%= form_with model:[drawer,comment], remote: true do |f| %>
  <tr>
    <td><%= f.submit '追加', class:"btn btn-info" %></td>
    <td><%= f.text_field :comment %></td>
  </tr>
  <% end %>
</table>
