<table id="comments_area">
  <% drawer.comments.each do |comment| %>
    <tr>
    	<td><%= comment.comment %></td>
      <td><%#= link_to 'Destroy', book_book_comment_path(book_comment.book_id, book_comment.id), remote: true, class: 'btn-sm btn-danger', method: :delete %></td>
    </tr>
  <% end %>
</table>