<table id="comments_area">
  <% drawer.comments.each do |comment| %>
    <tr>
    	<td><%= comment.comment %></td>
      <td><%= link_to 'Destroy', drawer_comment_path(comment.drawer_id, comment.id), local: true, class: 'btn-sm btn-danger', method: :delete %></td>
    </tr>
  <% end %>
</table>