<div class="container">
  <div class="flame">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Drawer一覧(Total<%= @drawers.count %>)</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render "each", drawers: @drawers %>
  </div>
  <div class="text-center">
    <%#= paginate @drawers %>
  </div>
</div>