<div class="row justify-content-center" style="margin-bottom: 50px;">
    <p class="circle" style="font-size: 40px;"><strong>How To</strong></p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="d-flex flex-column mb-5">
        <div class="p-2 bd-highlight">
            <p>
               <strong class="about-number">01</strong>
        	　　 会員登録がお済みでない方は<strong>「新規登録」</strong>ボタンよりご登録ください。<br>
    	  　 　　　（登録済みの方は「ログイン」ボタンよりご入室ください。）
            </p>
        </div>
        <div class="p-2 bd-highlight">
            <p>
               <strong class="about-number">02</strong>
        	　　 <strong>「HOME」</strong>ページには管理中の収納(Drawer)が一覧で表示されます。<br>
                　　　　　　Drawerの追加は<strong>＋ボタン</strong>より可能です。
            </p>
        </div>

        <div class="p-2 bd-highlight">
            <p>
               <strong class="about-number">03</strong>
               	　　 Drawer詳細内<strong>＋ボタン</strong>より収納物(Item)の追加が可能です。<br>
                  　　　　　　Item作成時、タグは<strong>「,」</strong>で区切って入力すると複数登録できます。<br>
                  　　　　　　また<strong>AI画像認識</strong>により自動でのタグ付も行います。
            </p>
        </div>

        <div class="p-2 bd-highlight">
            <p>
                <strong class="about-number">04</strong>
        	    <strong>	　　「検索フォーム」</strong>から、全Itemを横断的に検索できます。
            </p>
        </div>

        <div class="p-2 bd-highlight">
            <p>
                <strong class="about-number">05</strong>
                <strong>	　　「タグ管理」</strong>のページにて、不要なタグを削除することができます。
            </p>
        </div>
    </div>
  </div>
</div>