<div class="container">
  <p class="home-top-logo" style="text-align: center">
    <font size="2">STRAGE MANAGEMENT SITE</font>
  </p>
  <h1 class="home-logo" style="text-align: center">
    <a href="/" style="color: gray">Hikidashi</a>
  </h1>
  <P class="text-center">
    <strong>MANAGE STRAGE, UPDATE YOUR LIFE</strong>
  </P>
  <br>
  <br>
  <div class="top-image">
    <div class="cover-text">
      <p class="top-text" style="color: #fff;">ようこそHikidashiへ、<br>
      このサイトは引き出しやクローゼットなどの収納の中にあるものを一覧にして管理できるサイトです。<br><br>
      管理したい場所の名前でDrawerを作成し、その収納にしまっているItemを写真・説明とともに保存しておけます。<br>
      買ったけど使っていない、あれ持ってたっけ？といったことをなくし生活をちょこっと豊かにするお助けをします。<br><br>
      会員登録がお済みでない方は「新規登録ボタン」からご登録を、<br>
      登録済みの方は「ログインボタン」よりログインください。<br>
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group row justify-content-center">
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-dark w-25" %>
    <p style="padding: 0px 100px;"></p>
    <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-dark w-25" %>
  </div>
</div>
